// app global css in SCSS form

.body--light {
  .popup {
    background-color: white;
  }
}

.body--dark {
  background: #000;
  .popup {
    background-color: #000;
  }
  .custom-icon {
    filter: invert(100%);
  }
}

.popup {
  padding: 10px;
  border-radius: 15px !important;
}

.custom-chip {
  background-color: $primary;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin: 2px;
}

:root {
  --thumbnails-size: 200px;
}
